@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --sky:#f5f6fa;
}
body{
    width: 100%;
    height: 100vh;
    cursor: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* background-color: black; */
};
html {
    scroll-behavior: smooth;
  }
::-webkit-scrollbar { 
    width: 0px; 
}
a{
    text-decoration: none;
    cursor: none;
    color: black;
}
header {
	display: flex;
	width: 100%;
	height: 12vh;
	margin: auto;
	align-items: center;
    transition: 0.5s;
}
.nav-link{
    display: flex;
    justify-content: center;
    font-family: 'Acme', sans-serif;
    font-size: 1.2rem;
   
}
.nav-link-list{
    display: flex;
    justify-content: space-around;
    
}
.container-logo{
    display: flex; 
    justify-content: center;
}
.magnifying_glass{
    display: flex;
    justify-content: center
}
nav {
	flex: 4;
}
.container-logo,.magnifying_glass{
    flex:2;
}
header:hover{
    background: #a4b0beb2;
}
.header-register{
    padding-right: 60px;
}